@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Luxe+Uno&display=swap');

:root {
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Luxe Uno', sans-serif;
  --black: #0d0d11;
  --dark-gray: #222;
  --gray: #555;
  --white: #edeeef;
  --translucent: rgba(13, 13, 17, 0.3);
  --brand-blue: #292cf5;
  --brand-purple: #a047ff;
  --brand-green: #5fc15f;
  --brand-red: #d04c4c;
  --tab-color: #8b58ce;
  --highlight-purple: #8B58CE;
  --highlight-yellow: #DDFF61;
}

.dark {
  --black: #ffffff;
  --dark-gray: #f0f0f0;
  --gray: #555;
  --white: #09090c;
  --translucent: rgba(237, 238, 239, 0.15);
  --brand-blue: #007bff;
  --brand-purple: #6f42c1;
  --brand-green: #28a745;
  --brand-red: #dc3545;
  --tab-color: #007bff;
  --highlight-purple: #6610f2;
  --highlight-yellow: #ffc107;
  color: var(--white) !important;
}

body {
  margin: 20px 80px 15px 80px;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  color: var(--white) !important;
  font-family: var(--primary-font);
  background: radial-gradient(circle at -30%, var(--brand-blue), transparent 60%), radial-gradient(circle at 100% -180px, var(--brand-purple), transparent 60%), var(--black);

}

.logo {
  width: 150px;
  margin-left: 5%;
  margin-top: 10px;
}

.logo-dark {
  filter: invert(1);
}

.logo-light {
  filter: invert(0);
}

/* Title Section */
.title {
  font-family: var(--secondary-font);
  margin-top: -10px;
}

.confmat-title {
  margin-left: 110px;
  margin-top: -10px;
  font-family: var(--secondary-font);
}

.pxp-title {
  margin-left: 5%;
  font-family: var(--secondary-font);
}

.pxp-title h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

.pxp-title .ver {
  font-size: 0.9rem;
  font-weight: 100;
}

.pxp-title p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: -25px;
}

.container {
  display: block;
  background-color: var(--translucent);
  opacity: 1;
  width: 90%;
  margin: 0 auto;
  height: max-content;
  border-radius: 25px;
}

.side-heading {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 25px;
  text-align: left;
}

.pagebreak {
  width: auto; /* Match the width of the surrounding content */
  max-width: 800%; /* Adjust this value to fit your table width */
  position: relative;
  border: none;
  border-top: 1px solid var(--gray);
  margin: 20px auto; /* Center the line */
}

/* ================= Tabs ================= */
.tabs {
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

.custom-tab {
  text-transform: none !important;
  font-size: 16px !important;
  font-family: var(--primary-font) !important;
  font-weight: 100 !important;
  color: var(--white) !important;
}

.custom-tab.Mui-selected {
  color: var(--tab-color) !important;
}

.MuiTabs-indicator {
  background-color: var(--tab-color) !important;
  height: 2px !important;
  z-index: 2 !important;
}

.MuiTabs-root {
  position: relative;
  width: 100%;
}

.MuiTabs-flexContainer {
  position: relative;
  display: inline-flex !important;
  justify-content: flex-start !important;
}

/* White bottom border under the tabs till the last element */
.MuiTabs-flexContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--white);
  z-index: 1;
}

/* ================= Common Table Styling ================= */
.table-container {
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  background-color: transparent !important;
  color: var(--white) !important;
  width: 70%;
  margin: 0 auto;
}

.MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

.MuiTableCell-root {
  color: var(--white) !important;
  background-color: transparent !important;
  border-bottom: 1px solid var(--gray) !important;
  line-height: 1.5 !important;
}

.MuiTableContainer-root {
  border-radius: 0px !important;
  width: 85% !important;
}

/* ================= LiveView Table ================= */
.liveview-container .MuiTableRow-root {
  border-bottom: 1px solid var(--white) !important;
}

.liveview-container .label-cell {
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
  font-size: 1rem;
  color: var(--white) !important;
}

.liveview-container .value-cell {
  font-family: var(--primary-font) !important;
  font-weight: 200 !important;
  font-size: 0.85rem;
  color: var(--white) !important;
}

/* ================= Results Table ================= */
.table-container {
  max-height: 300px; /* Adjust height as needed */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gray) var(--black);
}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: var(--black);
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 10px;
  border: 2px solid var(--black);
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray);
}

.table-header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(128px);
  background-color: var(--translucent) !important;
}

.results-container .MuiTableRow-root {
  border-bottom: 1px solid var(--black) !important;
}

.results-container .MuiTableHead-root .MuiTableCell-root {
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.results-container .MuiTableBody-root .MuiTableCell-root {
  font-weight: 200 !important;
  font-size: 0.85rem;
  padding: 10px;
}

.results-header {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.score {
  margin-left: 20px !important;
}

/* ================= Daily View Table ================= */
.dailyview-container .table-container {
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  background-color: transparent !important;
  color: var(--white) !important;
  width: 60%;
  margin: 0 auto;
}

.dailyview-container .MuiTableHead-root {
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(128px); /* Match the blur effect */
  background-color: var(--translucent) !important; /* Match the semi-transparent background */
}

.dailyview-container .MuiTableHead-root .MuiTableCell-root {
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  background-color: transparent !important; /* Match the transparent background */
  color: var(--white) !important;
}

.dailyview-container .MuiTableBody-root .MuiTableCell-root {
  font-family: var(--primary-font) !important;
  font-weight: 100 !important;
  font-size: 0.85rem;
  padding: 15px;
}

.dailyview-container .MuiTableHead-root {
  position: sticky !important;
  top: 0;
  z-index: 10;
}

/* Customize the scroll bar */

.dailyview-container .table-scroll {
  max-height: 300px;
  overflow-y: auto;
  background: transparent; 
}

/* Make the table header sticky */
.dailyview-container .MuiTableHead-root {
  position: sticky !important;
  top: 0;
  z-index: 10;
}

.dailyview-container .table-container.MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

.dailyview-container .MuiTableHead-root .MuiTableCell-root {
  background-color: transparent !important;
  color: var(--white) !important;
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.dailyview-container .table-scroll::-webkit-scrollbar {
  width: 8px;
}

.dailyview-container .table-scroll::-webkit-scrollbar-track {
  background: var(--dark-gray); /* Darker background for the track */
  border-radius: 10px;
}

.dailyview-container .table-scroll::-webkit-scrollbar-thumb {
  background-color: var(--gray); /* Subtle gray color for the thumb */
  border-radius: 10px;
  transition: background-color 0.3s;
}

.dailyview-container .table-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray); /* Lighter gray on hover */
}


/* ================= Models Table ================= */
.models-table-container {
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  background-color: transparent !important;
  color: var(--white) !important;
  width: 70% !important;
  margin: 0 auto;
}

.models-column {
  padding-left: 40px !important;
}

.models-table .MuiTableCell-root {
  color: var(--white) !important;
  background-color: transparent !important;
  border-bottom: 1px solid var(--white) !important;
  padding: 15px;
}

.models-table .MuiTableHead-root .MuiTableCell-root {
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.models-table .MuiTableBody-root .MuiTableCell-root {
  font-family: var(--primary-font) !important;
  font-weight: 200 !important;
  font-size: 0.85rem;
}

.models-table .MuiTableRow-root {
  border-bottom: 1px solid var(--white) !important;
}

/* ================= Graph Styling ================= */

/* ================= Confusion Matrix Styling ================= */

.confmat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
}

/* Grid Layout for Confusion Matrix */

.confmat-grid {
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 50px 80px 80px;
  border: 2px solid var(--white);
}

/* Empty Top-left Cell */

.confmat-empty-cell {
  border: 1px solid var(--white);
}

/* Header Cell Style */

.confmat-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: 500;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}

/* Main Cell Style */

.confmat-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  padding: 10px;
  text-align: center;
  font-size: 0.85rem;
  gap: 5px;
}

.green {
  color: var(--brand-green);
}

.red {
  color: var(--brand-red);
}

.bold {
  font-weight: bold;
}

/* ================= Metrics Styling ================= */

.metrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
}

.metric-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.metric-name {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 0.95rem;
  color: var(--white);
  margin-bottom: 5px;
}

.metric-value {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 0.9rem;
}

/* Metric Colors */

.metric-value.green {
  color: var(--brand-green);
}

.metric-value.red {
  color: var(--brand-red);
}

/* ================= TopThing Styling ================= */

.progressbar {
  border-radius: 8px;
  width: 100%;
}

.top-thing {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px auto 50px auto;
  width: 85%;
  justify-items: center;
}

/* ================= Buttons Styling ================= */
.MuiButton-root {
  text-transform: none !important;
}

.btn {
  border: none !important;
  border-radius: 9px !important;
  padding: 10px 20px; /* Add padding to make the button wider */
  min-width: 120px; /* Set a minimum width for the button */
}

.btn:hover {
  background-color: #c1c1c1 !important; /* Darker Grey */
}

#run {
  background-color: #549254 !important;
  color: #eee !important;
}

#run:hover {
  background-color: #3e7c3e !important; /* Darker Green */
}

#download {
  background-color: #4d4d4d !important;
  color: #eee !important;
}

#download:hover {
  background-color: #363630 !important;
}

.download-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 20px;
}

/* ================= Date Styling ================= */
#date-dropdown {
  width: 200px;
  color: var(--white);
}

#date-dropdown option {
  background-color: var(--dark-gray);
  color: var(--white);
}

.dropdown-menu {
  background-color: var(--dark-gray) !important; 
  color: var(--white) !important;
}
/* Guidance doc */
.guidance-doc {
  margin: 40px auto; /* Add top and bottom margin */
  padding: 130px; /* Add padding */
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: var(--primary-font);
  color: var(--white);
  border-radius: 10px; /* Add border radius */
}

.guidance-doc h1 {
  font-size: 2.6rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}

.guidance-doc h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
}

.guidance-doc h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
}

.guidance-doc p, .guidance-doc ul {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.guidance-doc ul {
  padding-left: 20px;
}

.guidance-doc li {
  margin-bottom: 10px;
}

.guidance-doc .important {
  color: var(--highlight-purple);
}

.guidance-doc .example {
  font-style: italic;
  color: #ccc;
}

.guidance-doc .trade-off {
  font-weight: 600;
  color: var(--highlight-yellow);
}

.red {
  color: var(--brand-red);
}

.guidance-doc-image {
  display: block;
  width: 600px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}

.sigmoid-image {
  display: block;
  width: 600px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}
