@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Luxe+Uno&display=swap');

body {
  margin: 20px 80px 15px 80px;
  padding: 0;
  background: radial-gradient(circle at -1000px 750px, #292cf5, transparent 60%),
              radial-gradient(circle at 1600px -180px, #540b90, transparent 40%),
              #000;
  background-attachment: fixed;
  background-size: cover;
  color: white !important;
  font-family: "Inter", sans-serif;
}

.logo {
  width: 150px;
}

/* Title Section */
.title {
  font-family: 'Luxe Uno', sans-serif;
}

.title h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

.title .ver {
  font-size: 0.9rem;
  font-weight: 100;
}

.title p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: -25px;
}

.container {
  display: block;
  background-color: rgba(9, 9, 12, 0.35);
  opacity: 1;
  width: 90%;
  margin: 0 auto;
  height: max-content;
  border-radius: 25px;
}

.side-heading {
  font-family: 'Luxe Uno', sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: left;
}

.pagebreak {
  width: auto; /* Match the width of the surrounding content */
  max-width: 800%; /* Adjust this value to fit your table width */
  position: relative;
  border: none;
  border-top: 1px solid rgb(117, 117, 117);
  margin: 20px auto; /* Center the line */
}

/* ================= Tabs ================= */
.tabs {
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

.custom-tab {
  text-transform: none !important;
  font-size: 16px !important;
  font-family: Inter !important;
  font-weight: 100 !important;
  color: white !important;
}

.custom-tab.Mui-selected {
  color: #8B58CE !important;
}

.MuiTabs-indicator {
  background-color: #8B58CE !important;
  height: 2px !important;
  z-index: 2 !important;
}

.MuiTabs-root {
  position: relative;
  width: 100%;
}

.MuiTabs-flexContainer {
  position: relative;
  display: inline-flex !important;
  justify-content: flex-start !important;
}

/* White bottom border under the tabs till the last element */
.MuiTabs-flexContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: white;
  z-index: 1;
}

/* ================= Common Table Styling ================= */
.table-container {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: transparent !important;
  color: white !important;
  width: 80%;
  margin: 0 auto;
}

.MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

.MuiTableCell-root {
  color: white !important;
  background-color: transparent !important;
  border-bottom: none !important;
}

.MuiTableContainer-root {
  border-radius: 0px !important;
  width: 85% !important;
}

/* ================= LiveView Table ================= */
.liveview-container .MuiTableRow-root {
  border-bottom: 1px solid #555 !important;
}

.liveview-container .label-cell {
  font-family: 'Luxe Uno', sans-serif !important;
  font-weight: 500 !important;
  font-size: 1rem;
  color: white !important;
}

.liveview-container .value-cell {
  font-family: 'Inter', sans-serif !important;
  font-weight: 200 !important;
  font-size: 0.85rem;
  color: white !important;
}

/* ================= Results Table ================= */
.results-container .MuiTableRow-root {
  border-bottom: 1px solid #555 !important;
}

.results-container .MuiTableHead-root .MuiTableCell-root {
  font-family: 'Luxe Uno', sans-serif !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.results-container .MuiTableBody-root .MuiTableCell-root {
  font-weight: 200 !important;
  font-size: 0.85rem;
  padding: 10px;
}

.results-header {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.score {
  margin-left: 20px !important;
}

/* ================= Daily View Table ================= */
.dailyview-container .table-container {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: transparent !important;
  color: white !important;
  width: 60%;
  margin: 0 auto;
}

.dailyview-container .MuiTableRow-root {
  border-bottom: 1px solid #555 !important;
}

.dailyview-container .MuiTableHead-root .MuiTableCell-root {
  font-family: 'Luxe Uno', sans-serif !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.dailyview-container .MuiTableBody-root .MuiTableCell-root {
  font-family: 'Inter', sans-serif !important;
  font-weight: 100 !important;
  font-size: 0.85rem;
  padding: 15px;
}

/* ================= Models Table ================= */
.models-table-container {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  background-color: transparent !important;
  color: white !important;
  width: 80%;
  margin: 0 auto;
}

.models-table .MuiTableCell-root {
  color: white !important;
  background-color: transparent !important;
  border-bottom: 1px solid #555 !important;
  padding: 15px;
}

.models-table .MuiTableHead-root .MuiTableCell-root {
  font-family: 'Luxe Uno', sans-serif !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.models-table .MuiTableBody-root .MuiTableCell-root {
  font-family: 'Inter', sans-serif !important;
  font-weight: 200 !important;
  font-size: 0.85rem;
}

.models-table .MuiTableRow-root {
  border-bottom: 1px solid #555 !important;
}

/* ================= Graph Styling ================= */







/* ================= Confusion Matrix Styling ================= */

.confmat-container {

  display: flex;

  justify-content: space-between;

  align-items: center;

  justify-content: center;

  gap: 50px;

  background-color: transparent;

  padding: 10px;

  border-radius: 8px;

}

/* Grid Layout for Confusion Matrix */

.confmat-grid {

  display: grid;

  grid-template-columns: 160px 160px 160px;

  grid-template-rows: 50px 80px 80px;

  border: 2px solid #fff;

}

/* Empty Top-left Cell */

.confmat-empty-cell {

  border: 1px solid #fff;

}

/* Header Cell Style */

.confmat-header-cell {

  display: flex;

  justify-content: center;

  align-items: center;

  border: 1px solid #fff;

  color: #fff;

  font-weight: 500;

  padding: 10px;

  text-align: center;

  font-size: 0.9rem;

}

/* Main Cell Style */

.confmat-cell {

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-items: center;

  border: 1px solid #fff;

  padding: 10px;

  text-align: center;

  font-size: 0.85rem;

  gap: 5px;

}

.green {

  color: #00FF00;

}

.red {

  color: #FF4C4C;

}


/* ================= Metrics Styling ================= */

.metrics {

  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 20px 30px;

}

.metric-item {

  display: flex;

  flex-direction: column;

  align-items: flex-start;

}

.metric-name {

  font-family: 'Inter', sans-serif;

  font-weight: 400;

  font-size: 0.95rem;

  color: #e0e0e0;

  margin-bottom: 5px;

}

.metric-value {

  font-family: 'Inter', sans-serif;

  font-weight: 400;

  font-size: 0.9rem;

}

/* Metric Colors */

.metric-value.green {

  color: #00FF00;

}

.metric-value.red {

  color: #FF4C4C;

}


/* ================= TopThing Styling ================= */

.progressbar{
  border-radius: 8px;
  width: 100%;
}

.top-thing{
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0 125px;
}

/* ================= Buttons Styling ================= */
.MuiButton-root {
  text-transform: none !important;
}

.btn{
  border: none !important;
  border-radius: 9px !important;
  padding: 10px 20px; /* Add padding to make the button wider */
  min-width: 120px; /* Set a minimum width for the button */
}

.btn:hover {
  background-color: #c1c1c1 !important; /* Darker Grey */
}

#run{
  background-color: #549254 !important;
  color: white !important;
}

#run:hover {
  background-color: #3e7c3e !important; /* Darker Green */
}

#download {
  background-color: #363636 !important;
  color: white !important;
}

#download:hover {
  background-color: #363630 !important;
}

.download-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 20px;
}

/* ================= Date Styling ================= */
#date-dropdown {
  width: 200px;
  color: #cfcfcf;
}

#date-dropdown option {
  background-color: #363636;
  color: white;
}

.dropdown-menu {
  background-color: #363636 !important; 
  color: white !important;
}

/* Guidaance doc */
/* Guidaance doc */
.guidance-doc {
  margin: 40px auto; /* Add top and bottom margin */
  padding: 130px; /* Add padding */
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: 'Inter', sans-serif;
  color: white;
  border-radius: 10px; /* Add border radius */
}

.guidance-doc h1 {
  font-size: 2.6rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}

.guidance-doc h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
}

.guidance-doc h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
}

.guidance-doc p, .guidance-doc ul {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.guidance-doc ul {
  padding-left: 20px;
}

.guidance-doc li {
  margin-bottom: 10px;
}

.guidance-doc .important {
  color: #8B58CE;
}

.guidance-doc .example {
  font-style: italic;
  color: #ccc;
}

.guidance-doc .trade-off {
  font-weight: 600;
  color: #DDFF61;
}

.red {
  color: #D04C4C;
}

.guidance-doc-image {
  display: block;
  width: 600px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}