@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Luxe+Uno&display=swap');

:root {
  --primary-font: 'Inter', sans-serif;
  --secondary-font: 'Luxe Uno', sans-serif;
  --black: #0d0d11;
  --dark-gray: #222;
  --gray: #555;
  --white: #edeeef;
  --translucent: rgba(13, 13, 17, 0.3);
  --brand-blue: #292cf5;
  --brand-purple: #a047ff;
  --brand-green: #5fc15f;
  --brand-red: #d04c4c;
  --tab-color: #8b58ce;
  --highlight-purple: #8B58CE;
  --slider-color: #CAFF0A;
  /* --highlight-yellow: #DDFF61; */
}

.dark {
  --black: #ffffff;
  --dark-gray: #f0f0f0;
  --gray: #555;
  --white: #09090c;
  --translucent: rgba(237, 238, 239, 0.15);
  --brand-blue: #007bff;
  --brand-purple: #6f42c1;
  --brand-green: #28a745;
  --brand-red: #dc3545;
  --tab-color: #007bff;
  --highlight-purple: #6610f2;
  --highlight-yellow: #ffc107;
  --slider-color: #292cf5;
  color: var(--white) !important;
}

body {
  margin: 20px 80px 15px 80px;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  color: var(--white) !important;
  font-family: var(--primary-font);
  background: radial-gradient(circle at -30%, var(--brand-blue), transparent 60%), 
              radial-gradient(circle at 100%, var(--brand-purple), transparent 60%), 
              var(--black);

}

.logo {
  width: 150px;
  margin-left: 5%;
  margin-top: 10px;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-dark {
  filter: invert(1);
}

.logo-light {
  filter: invert(0);
}

/* Title Section */
.title {
  font-family: var(--secondary-font);
  margin-top: -10px;
}

.confmat-title {
  margin-left: 110px;
  margin-top: -10px;
  font-family: var(--secondary-font);
}

.pxp-title {
  margin-left: 5%;
  font-family: var(--secondary-font);
}

.pxp-title h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

.pxp-title .ver {
  font-size: 0.9rem;
  font-weight: 100;
}

.pxp-title p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: -25px;
}

.toggle-wrapper input[type="checkbox"] {
  display: none;
}

.toggle-wrapper label {
  display: inline-block;
  width: 40px;        /* Smaller width */
  height: 20px;       /* Smaller height */
  background: #ccc;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s ease;
  border: 2px solid white;
}

.toggle-wrapper label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: white;
  border-radius: 50%;
  transition: left 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.toggle-wrapper input[type="checkbox"]:checked + label {
  background: linear-gradient(135deg, #CAFF0A 0%, #EDEEEF 100%);
}

.toggle-wrapper input[type="checkbox"]:checked + label::after {
  left: 22px;
}

.switch-container {
  display: flex;
  align-items: center;
}

.container {
  display: block;
  background-color: var(--translucent);
  opacity: 1;
  width: 90%;
  margin: 0 auto;
  height: max-content;
  border-radius: 25px;
}

.side-heading {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 25px;
  text-align: left;
}

.pagebreak {
  width: auto; /* Match the width of the surrounding content */
  max-width: 800%; /* Adjust this value to fit your table width */
  position: relative;
  border: none;
  border-top: 1px solid var(--gray);
  margin: 20px auto; /* Center the line */
}

/* ================= Tabs ================= */
.tabs {
  width: 100%;
  padding-top: 20px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
}

.custom-tab {
  text-transform: none !important;
  font-size: 16px !important;
  font-family: var(--primary-font) !important;
  font-weight: 100 !important;
  color: var(--white) !important;
}

.custom-tab.Mui-selected {
  color: var(--tab-color) !important;
}

.MuiTabs-indicator {
  background-color: var(--tab-color) !important;
  height: 2px !important;
  z-index: 2 !important;
}

.MuiTabs-root {
  position: relative;
  width: 100%;
}

.MuiTabs-flexContainer {
  position: relative;
  display: inline-flex !important;
  justify-content: flex-start !important;
}

/* White bottom border under the tabs till the last element */
.MuiTabs-flexContainer::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 2px;
  background-color: var(--white);
  z-index: 1;
}

/* ================= Common Table Styling ================= */
.table-container {
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  background-color: transparent !important;
  color: var(--white) !important;
  width: 70%;
  margin: 0 auto;
}

.MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

.MuiTableCell-root {
  color: var(--white) !important;
  background-color: transparent !important;
  border-bottom: 1px solid var(--gray) !important;
  line-height: 1.5 !important;
}

.MuiTableContainer-root {
  border-radius: 0px !important;
  width: 85% !important;
}

/* ================= LiveView Table ================= */
.liveview-container .MuiTableRow-root {
  border-bottom: 1px solid var(--white) !important;
}

.liveview-container .label-cell {
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
  font-size: 1rem;
  color: var(--white) !important;
}

.liveview-container .value-cell {
  font-family: var(--primary-font) !important;
  font-weight: 200 !important;
  font-size: 0.85rem;
  color: var(--white) !important;
}

/* ================= Results Table ================= */
.table-container {
  max-height: 300px; /* Adjust height as needed */
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--gray) var(--black);
}

.table-container::-webkit-scrollbar {
  width: 8px;
}

.table-container::-webkit-scrollbar-track {
  background: var(--black);
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: var(--gray);
  border-radius: 10px;
  border: 2px solid var(--black);
}

.table-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray);
}

.table-header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(128px);
  background-color: var(--translucent) !important;
}

.results-container .MuiTableRow-root {
  border-bottom: 1px solid var(--black) !important;
}

.results-container .MuiTableHead-root .MuiTableCell-root {
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.results-container .MuiTableBody-root .MuiTableCell-root {
  font-weight: 200 !important;
  font-size: 0.85rem;
  padding: 10px;
}

.results-header {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
}

.score {
  margin-left: 20px !important;
}

/* ================= Daily View Table ================= */
.dailyview-container .table-container {
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  background-color: transparent !important;
  color: var(--white) !important;
  width: 60%;
  margin: 0 auto;
}

.dailyview-container .MuiTableHead-root {
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(128px); /* Match the blur effect */
  background-color: var(--translucent) !important; /* Match the semi-transparent background */
}

.dailyview-container .MuiTableHead-root .MuiTableCell-root {
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  background-color: transparent !important; /* Match the transparent background */
  color: var(--white) !important;
}

.dailyview-container .MuiTableBody-root .MuiTableCell-root {
  font-family: var(--primary-font) !important;
  font-weight: 100 !important;
  font-size: 0.85rem;
  padding: 15px;
}

.dailyview-container .MuiTableHead-root {
  position: sticky !important;
  top: 0;
  z-index: 10;
}

/* Customize the scroll bar */

.dailyview-container .table-scroll {
  max-height: 300px;
  overflow-y: auto;
  background: transparent; 
}

/* Make the table header sticky */
.dailyview-container .MuiTableHead-root {
  position: sticky !important;
  top: 0;
  z-index: 10;
}

.dailyview-container .table-container.MuiPaper-root {
  background-color: transparent !important;
  box-shadow: none !important;
}

.dailyview-container .MuiTableHead-root .MuiTableCell-root {
  background-color: transparent !important;
  color: var(--white) !important;
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.dailyview-container .table-scroll::-webkit-scrollbar {
  width: 8px;
}

.dailyview-container .table-scroll::-webkit-scrollbar-track {
  background: var(--dark-gray); /* Darker background for the track */
  border-radius: 10px;
}

.dailyview-container .table-scroll::-webkit-scrollbar-thumb {
  background-color: var(--gray); /* Subtle gray color for the thumb */
  border-radius: 10px;
  transition: background-color 0.3s;
}

.dailyview-container .table-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray); /* Lighter gray on hover */
}


/* ================= Models Table ================= */
.models-table-container {
  border-top: 2px solid var(--white);
  border-bottom: 2px solid var(--white);
  background-color: transparent !important;
  color: var(--white) !important;
  width: 70% !important;
  margin: 0 auto;
}

.models-column {
  padding-left: 40px !important;
}

.models-table .MuiTableCell-root {
  color: var(--white) !important;
  background-color: transparent !important;
  border-bottom: 1px solid var(--white) !important;
  padding: 15px;
}

.models-table .MuiTableHead-root .MuiTableCell-root {
  font-family: var(--secondary-font) !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.models-table .MuiTableBody-root .MuiTableCell-root {
  font-family: var(--primary-font) !important;
  font-weight: 200 !important;
  font-size: 0.85rem;
}

.models-table .MuiTableRow-root {
  border-bottom: 1px solid var(--white) !important;
}

/* ================= Graph Styling ================= */

/* ================= Confusion Matrix Styling ================= */

.confmat-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 50px;
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
}

/* Grid Layout for Confusion Matrix */

.confmat-grid {
  display: grid;
  grid-template-columns: 160px 160px 160px;
  grid-template-rows: 50px 80px 80px;
  border: 2px solid var(--white);
}

/* Empty Top-left Cell */

.confmat-empty-cell {
  border: 1px solid var(--white);
}

/* Header Cell Style */

.confmat-header-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  color: var(--white);
  font-weight: 500;
  padding: 10px;
  text-align: center;
  font-size: 0.9rem;
}

/* Main Cell Style */

.confmat-cell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  padding: 10px;
  text-align: center;
  font-size: 0.85rem;
  gap: 5px;
}

.green {
  color: var(--brand-green);
}

.red {
  color: var(--brand-red);
}

.bold {
  font-weight: bold;
}

/* ================= Metrics Styling ================= */

.metrics {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px;
}

.metric-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.metric-name {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 0.95rem;
  color: var(--white);
  margin-bottom: 5px;
}

.metric-value {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 0.9rem;
}

/* Metric Colors */

.metric-value.green {
  color: var(--brand-green);
}

.metric-value.red {
  color: var(--brand-red);
}

/* ================= TopThing Styling ================= */

.progressbar {
  border-radius: 8px;
  width: 100%;
}

.top-thing {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px auto 50px auto;
  width: 85%;
  justify-items: center;
}

/* ================= Buttons Styling ================= */
.MuiButton-root {
  text-transform: none !important;
}

.btn {
  border: none !important;
  border-radius: 9px !important;
  padding: 10px 20px; /* Add padding to make the button wider */
  min-width: 120px; /* Set a minimum width for the button */
}

.btn:hover {
  background-color: #c1c1c1 !important; /* Darker Grey */
}

#run {
  background-color: #549254 !important;
  color: #eee !important;
}

#run:hover {
  background-color: #3e7c3e !important; /* Darker Green */
}

#download {
  background-color: #4d4d4d !important;
  color: #eee !important;
}

#download:hover {
  background-color: #363630 !important;
}

.download-button-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  margin-top: 20px;
}

/* ================= Date Styling ================= */
#date-dropdown {
  width: 200px;
  color: var(--white);
}

#date-dropdown option {
  background-color: var(--dark-gray);
  color: var(--white);
}

.dropdown-menu {
  padding: 10px;
  padding-right: 30px;
  border-radius: 8px;
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  outline: none;
  width: 150px;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); /* Custom dropdown arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}
/* Guidance doc */
.guidance-doc {
  margin: 40px auto;
  padding: 130px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-family: var(--primary-font);
  color: var(--white);
  border-radius: 10px;
}

.guidance-doc h1 {
  font-size: 2.6rem;
  font-weight: 500;
  text-align: left;
  margin-bottom: 20px;
}

.guidance-doc h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
}

.guidance-doc h3 {
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 15px;
}

.guidance-doc p, .guidance-doc ul {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

.guidance-doc ul {
  padding-left: 20px;
}

.guidance-doc li {
  margin-bottom: 10px;
}

.guidance-doc .important {
  color: var(--highlight-purple);
}

.guidance-doc .example {
  font-style: italic;
  color: #ccc;
}

.guidance-doc .trade-off {
  font-weight: 600;
  color: var(--highlight-yellow);
}

.red {
  color: var(--brand-red);
}

.guidance-doc-image {
  display: block;
  width: 600px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}

.sigmoid-image {
  display: block;
  width: 600px;
  margin: 0 auto 20px auto;
  border-radius: 10px;
}

/* ================= Search Section ================= */
.search_section {
  display: flex;
  align-items: center;         /* Vertically center items */
  justify-content: flex-start; /* Align items to the left */
  gap: 120px;                   /* Space between searchbar and slider */
  margin: 0 25px 10px 25px;
  padding: 0 20px 20px 0;
  color: var(--dark);
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 15px;                   /* Space between labels and slider */
}

.slider-label {
  font-size: 16px;
  color: var(--dark);
}

.search-title {
  font-family: var(--secondary-font);
  font-size: 25px;
  font-weight: 500;
  color: var(--dark);
}

.group {
  position: relative; 
  display: flex;
  align-items: center;
  width: 120%;
  max-width: 400px;
}

.input {
  width: 100%;
  padding: 12px 12px 12px 45px;
  border-radius: 12px;
  border: 0px solid white;
  outline: none;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  box-shadow: 0px 0px 20px -18px;
  background-color: var(--dark-gray);
  color: var(--white);
  font-family: var(--secondary-font); /* Change font to primary font */
  letter-spacing: 0.5px;
}

.input::placeholder {
  color: var(--white);
  transition: opacity 0.3s ease-in-out;
  letter-spacing: 0.5px;
}

.input:focus::placeholder {
  opacity: 0.5;
}

.input:hover {
  box-shadow: 0px 0px 20px -17px;
}

.search-icon {
  position: absolute;
  left: 15px;
  width: 20px;
  height: 20px;
  pointer-events: none;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}


.input:focus ~ .search-icon,
.input:hover ~ .search-icon {
  transform: scale(1.1);
  opacity: 0.8;
}

.slider {
  color: var(--slider-color) !important;
}

.MuiSlider-valueLabel {
  background-color: var(--brand-blue);
  color: white;
  border-radius: 4px;
  font-weight: bold;
  font-size: 0.75rem;
}


.slider-thumb:active {
  color: #007bff !important;
}

/* Header Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

.header-controls {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Settings Popup */

.settings-button {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease-in-out;
  border: solid black 1px;
}

.settings-button img {
  width: 24px;
  height: 24px;
}

.settings-button:hover {
  transform: scale(1.1);
}

.switch-container {
  display: flex;
  align-items: center;
}

.settings-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Darker overlay for better focus */
  z-index: 999;
}

.settings-content {
  background: var(--black);
  color: var(--white);
  padding: 3rem;
  border-radius: 12px;
  width: 1000px;
  height: 500px;
  max-width: 90%;
  position: relative;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5); /* Enhance shadow for better visibility */
}

.close-btn {
  position: absolute;
  top: 15px; /* Adjust position for larger popup */
  right: 20px; /* Adjust position for larger popup */
  font-size: 2rem; /* Increase font size for better visibility */
  background: none;
  border: none;
  color: var(--white);
  cursor: pointer;
}

.close-btn:hover {
  color: var(--brand-red);
}

/* dropdown */
.dropdown-container {
  margin-top: 20px;
  display: flex;
  align-items: center; /* Align dropdown and button vertically */
  gap: 10px; /* Add spacing between the dropdown and the button */
}

.dropdown-container label {
  font-size: 1rem;
  color: var(--white);
}

.dropdown-menu {
  padding: 10px; /* Padding inside the dropdown */
  padding-right: 30px; /* Add extra padding for the dropdown arrow */
  border-radius: 8px;
  background-color: var(--black);
  color: var(--white);
  font-size: 1rem;
  outline: none;
  width: 150px; /* Reduce the width */
  appearance: none; /* Remove default browser styling for consistency */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E"); /* Custom dropdown arrow */
  background-repeat: no-repeat;
  background-position: right 10px center; /* Position the arrow */
  background-size: 12px; /* Adjust arrow size */
}

.run-button {
  padding: 10px 15px;
  background-color: var(--brand-green);
  color: var(--white);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.run-button:hover {
    background-color: #4a9e4a; /* Darker green for hover effect */
}