@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Luxe+Uno&display=swap');

body {
  margin: 20px 80px 15px 80px;
  padding: 0;
  background: radial-gradient(circle at -1000px 750px, #292cf5, transparent 60%),
              radial-gradient(circle at 1600px -180px, #540b90, transparent 40%),
              #000;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: "Inter", sans-serif;
}

/* header {
  margin-top: 20px;
} */

.logo{
  width: 150px;
}

/* Title section */
.title {
  /* margin: 20px 0 0 0; */
  font-family: 'Luxe Uno';
}

/* Main Heading */
.title h1 {
  font-size: 2.6rem;
  font-weight: 700;
}

/* Version text with lighter font and spacing */
.title .ver {
  font-size: 0.9rem;
  font-weight: 100;
}

/* Subtext */
.title p {
  font-size: 1rem;
  font-weight: 500;
  margin-top: -25px;
}

.container {
  display: block;
  background-color: #09090C;
  opacity: 0.35;
  width: 100%;
  height: 100vh;
  border-radius: 25px;
}