.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.title {
  width: 100%;
  padding-left: 200px;
  color: #3C4949
}

.tabs {
  width: 100%;
  padding-left: 200px; /* Left padding */
  padding-right: 200px; /* Right padding */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.custom-tab.Mui-selected {
  color: #549254 !important;
}

.MuiTabs-indicator {
  background-color: #549254 !important;
}

.MuiTabs-flexContainer {
  justify-content: flex-start !important;
}

.MuiTabs-root {
  display: flex;
  justify-content: center;
  width: 100%;
}

.side-heading {
  font-size: 25px;
}

.simple-table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: auto; /* Ensures the table doesn't stretch */
  min-width: 400px; /* Adjust as needed */
}

.result-table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.pagebreak {
  width: auto; /* Match the width of the surrounding content */
  max-width: 800%; /* Adjust this value to fit your table width */
  position: relative;
  border: none;
  border-top: 1px solid rgb(117, 117, 117);
  margin: 20px auto; /* Center the line */
}

.center-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.table-body {
  text-align: left;
}

.table-row {
  border-bottom: 1px solid #ddd; /* Light border for cleaner look */
}

.button-container {
  display: flex;
  justify-content: flex-end; /* Push buttons to the right */
  gap: 10px; /* Adds space between buttons */
  margin-top: 30px; /* Space from above elements */
  width: 100%;
}

.MuiButton-root {
  text-transform: none !important;
}

.btn{
  background-color: #E3E3E3 !important;
  color: black !important;
  border: none !important;
  border-radius: 9px !important;
}

.btn:hover {
  background-color: #c1c1c1 !important; /* Darker Grey */
}

#run{
  background-color: #549254 !important;
  color: white !important;
}

#run:hover {
  background-color: #3e7c3e !important; /* Darker Green */
}