.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.title {
  width: 100%;
  padding-left: 20px;
}

.tabs {
  width: 60%;
  padding: 20px;
}

.simple-table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: auto; /* Ensures the table doesn't stretch */
  min-width: 400px; /* Adjust as needed */
}

.result-table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

/* .pagebreak{
  display: ;
} */

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.table-body {
  text-align: left;
}

.table-row {
  border-bottom: 1px solid #ddd; /* Light border for cleaner look */
}