.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.title {
  width: 100%;
  padding-left: 20px;
}

.tabs {
  width: 100%;
  padding: 20px 40px;
}

.MuiTabs-flexContainer {
  justify-content: center !important;
}

.MuiTabs-root {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px 40px !important;
}

.simple-table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  width: auto; /* Ensures the table doesn't stretch */
  min-width: 400px; /* Adjust as needed */
}

.result-table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.pagebreak {
  width: 100vw;
  position: relative;
  left: 0;
  border: none;
  border-top: 1px solid rgb(117, 117, 117);
  margin: 20px -45px;
}

.center-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.table-body {
  text-align: left;
}

.table-row {
  border-bottom: 1px solid #ddd; /* Light border for cleaner look */
}

/* Align buttons to the right */
.button-container {
  display: flex;
  justify-content: flex-end; /* Push buttons to the right */
  gap: 10px; /* Adds space between buttons */
  margin-top: 10px; /* Space from above elements */
  width: 100%;
}


.btn {
  background-color: #e3e3e3 !important;
  color: black !important;
  text-transform: none !important;
}

.btn:hover {
  background-color: #c1c1c1 !important;
}

#run {
  background-color: #549254 !important;
  color: white !important;
}

#run:hover {
  background-color: #3e7c3e !important;
}
